<% layout('layouts/boilerplate') %>
<div class="row">
    <h1 class="text-center">Edit Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds/<%=foundCampground._id%>?_method=PUT" method="POST">
            <div class="mb-3">
                <label class="form-label" for="title">Campground Title</label>
                <input class="form-control" name="campground[title]" type="text" id="title" placeholder="title"
                    value="<%=foundCampground.title%>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Campground Location</label>
                <input class="form-control" name="campground[location]" type="text" id="location" placeholder="location"
                    value="<%=foundCampground.location%>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="img">Image URL</label>
                <input class="form-control" name="campground[image]" type="text" id="img" placeholder="image url"
                    value="<%=foundCampground.image%>">
            </div>
            <div class="mb-3">
                <label class="form-label" for="price">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input name="campground[price]" type="number" class="form-control" id="price" placeholder="0.00"
                        step="0.01" min="0" value="<%=foundCampground.price%>">
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" name="campground[description]" type="text" id="description"
                    placeholder="description"><%=foundCampground.description%></textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-info">Update</button>
            </div>
        </form>
        <div class="my-3">
            <a href="/campgrounds/<%=foundCampground._id%>">Cancel</a>
        </div>
    </div>
</div>