<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-5">
            <img src="<%=foundCampground.image%>" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title"><%=foundCampground.title%></h5>
                <p class="card-text"><%=foundCampground.description%>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted"><%=foundCampground.location%></li>
                <li class="list-group-item">$<%=foundCampground.price%>/night</li>
            </ul>
            <div class="card-body">
                <a href="/campgrounds/<%=`${foundCampground._id}`%>/edit" class="card-link btn btn-dark">Edit
                    Campground</a>
                <form class="card-link d-inline" action="/campgrounds/<%=foundCampground._id%>?_method=DELETE"
                    method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
                <a class="card-link btn btn-secondary" href="/campgrounds">Go Back</a>
            </div>
        </div>
    </div>
</div>